{% extends 'entries/base.html' %}

{% block content %}

<section class="section">
    <div class="container">

        <article class="media">
            <div class="media-content">
                <div class="content">
                    <a href="{% url 'add' %}">Add new entry</a>
                </div>
            </div>
        </article>
        {% for entry in entries %}
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <h4><strong>{{ entry.title }}</strong></h4>
                        <p>
                            <strong>{{ entry.date_posted }}</strong>
                            <br>
                            {{ entry.text }}
                        </p>
                    </div>
                 </div>
            </article>
        {% endfor %}
    </div>
</section>

{% endblock %}