{% extends 'entries/base.html' %}

{% block content %}

<section class="section">
    <div class="container">

        <article class="media">
            <div class="media-content">
                <div class="content">
                    <a href="#">Add new entry</a>
                </div>
            </div>
        </article>

        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>January 28, 1985 6:14 AM</strong>
                        <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque
                        tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                    </p>
                </div>
            </div>
        </article>

        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>January 28, 1985 6:14 AM</strong>
                        <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque
                        tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                    </p>
                </div>
            </div>
        </article>

        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>January 28, 1985 6:14 AM</strong>
                        <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque
                        tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                    </p>
                </div>
            </div>
        </article>

    </div>
</section>
{% endblock %}